<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <appSettings>
    <!-- Full path to Ultima Online's directory -->
    <add key="UODir" value="C:\Users\Jérome\Desktop\Perso\Ultima Online"/>
    <!-- PNG filename (ie: GEM.png) -->
    <add key="DefaultSpawnIcon" value="GEM.png"/>
    <!-- Use a custom spawn icon-->
    <add key="UseCustomSpawnIcon" value="false"/>
    <!-- Full path to a 16x16 PNG file-->
    <add key="CustomSpawnIcon" value=""/>
  </appSettings>
</configuration>
