<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <!-- Full path to Ultima Online's directory -->
    <add key="RunUODir" value="C:\Users\Jérome\Desktop\Perso\Rebirth\Scripts\" />
    <!-- PNG filename (ie: GEM.png) -->
    <add key="DefaultSpawnIcon" value="GEM.png" />
    <!-- Use a custom spawn icon-->
    <add key="UseCustomSpawnIcon" value="true" />
    <!-- Full path to a 16x16 PNG file-->
    <add key="CustomSpawnIcon" value="C:\Users\Jérome\Desktop\Perso\Spawn\bin\Debug\skull2.png" />
    <!-- Only load contents from the "Mobiles" and "Items" script directories ? -->
    <add key="OnlyLoadMobilesItemsDirs" value="true"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>